.wedding-image-header {
  background-image: url("http://globe-views.com/dcim/dreams/wedding/wedding-02.jpg");
  height: 800px;
};

.image-style {
  height: 400px;
};

.rustic-result {
  background-image: url("http://globe-views.com/dcim/dreams/wedding/wedding-02.jpg");
  height: 400px;
};

.ballroom-result {
  background-image: url("http://globe-views.com/dcim/dreams/wedding/wedding-02.jpg");
  height: 400px;
};

.beach-result {
  background-image: url("http://globe-views.com/dcim/dreams/wedding/wedding-02.jpg");
  height: 400px;
};
